<style>

.help-section-wrapper {
  width: 100%;
  background-image: url({{ section.settings.bg_desktop | image_url }});
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 20px;
  text-align: center;
  background-color: #F1EAD9;
}

@media(max-width:768px){
  .help-section-wrapper {
    background-image: url({{ section.settings.bg_mobile | image_url }});
    padding: 60px 20px;
  }
}

.help-inner {
  max-width: 1900px;
  margin: 0 auto;
  margin-bottom: 4%;
}

.help-heading {
  font-family: var(--font-family);
  font-size: 76px;
  font-weight: 700;
  color: #0F4735;
  margin:0;
}

@media(max-width:768px){
  .help-heading {
    font-size: 42px !important;
    line-height: 46px !important;
  }
  .help-subtext{
    font-size: 24px !important;
    line-height: 32px !important;
  }
  .veggie-buttons1{
    margin-top: 20px !important;
    gap: 27px !important;
  }
  .veggie-buttons1 .button--primary,
  .veggie-buttons1 .button--secondary {
    font-size: 20px !important;
    line-height: 30px !important;
    padding: 8px 34px !important;
  }
  .veggie-buttons1 .button--primary:after,
  .veggie-buttons1 .button--secondary:after {
    bottom: -5px !important;
  }
}
@media (max-width: 480px) {
    .veggie-buttons1 {
        margin-top: 20px !important;
        gap: 18px !important;
    }
}

@media (max-width: 380px) {
  .veggie-buttons1 .button--primary,
  .veggie-buttons1 .button--secondary {
    font-size: 18px !important;
    line-height: 27px !important;
    padding: 8px 18px !important;
  }
}

.help-subtext {
  font-family: var(--font-family);
    font-size: 26px;
    line-height: 40px;
    font-weight: 500;
    color: #0F4735;
    margin:0px;
    margin-top: 0px !important;
}

.buttons-row {
  display: flex;
  justify-content: center;
  gap: 25px;
}

/* Buttons */
.help-btn {
  padding: 12px 35px;
  border-radius: 30px;
  font-size: 18px;
  font-family: var(--font-family);
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: 0.3s ease;
  display: inline-block;
}

/* Green Button */
.help-btn-green {
  background: #95C940;
  color: #0F4735;
  border: 3px solid #0F4735;
}

/* Orange Button */
.help-btn-orange {
  background: #F89821;
  color: #0F4735;
  border: 3px solid #0F4735;
}

/* Hover */
.help-btn:hover {
  opacity: 0.85;
}

@media(max-width:768px){
  .buttons-row {
    flex-direction: column;
    gap: 15px;
  }
}
 .veggie-buttons1 {
    display: flex;
    justify-content: center;
    gap: 27px;
    margin-top: 35px;
  }

  .veggie-buttons1 .button--primary{
  background: transparent!important;
  color: #0F4735;
  font-family: var(--font-family);
  font-size: 30px;
  font-weight: 600;
  line-height: 44px;
  text-decoration: none;
  box-shadow: none;
  cursor: pointer;
  transition: transform .2s ease, box-shadow .2s ease;
  text-align: center;
  border-radius: 35px;
  padding: 18px 86px;
  border: none;
    transform: none !important;
}

.veggie-buttons1 .button--primary:before {
   background: url(https://cdn.shopify.com/s/files/1/0577/3957/5488/files/Vector_23_2.png?v=1764592651);
  background-size: 100% 100%;
  z-index: 2;
}

.veggie-buttons1 .button--primary span{
  z-index: 3;
  position: relative;
}

.veggie-buttons1 .button--primary:after {
  content: '';
   background: url(https://cdn.shopify.com/s/files/1/0577/3957/5488/files/Vector_25.png?v=1764592665);
  background-size: 100% 100%;
  padding: 17px 58px;
  bottom: -7px;
  z-index: 1;
  box-shadow: none;
}


.veggie-buttons1 .button--primary:hover:before {
  background: url(https://cdn.shopify.com/s/files/1/0577/3957/5488/files/Vector_23_3.png?v=1764592664) !important;
  background-size: 100% 100% !important;
}

.veggie-buttons1 .button--primary:hover:after{
  bottom: -7px;
  box-shadow: none;
}

.veggie-buttons1 .button--secondary {
  background: transparent!important;
  color: #63441D;
  font-family: var(--font-family);
  font-size: 30px;
  line-height: 44px;
  font-weight: 600;
  text-decoration: none;
  box-shadow: none;
  cursor: pointer;
  transition: transform .2s ease, box-shadow .2s ease;
  text-align: center;
  border-radius: 35px;
  padding: 18px 74px;
  border: none;
    transform: none !important;
}

.veggie-buttons1 .button--secondary:before {
  background: url(https://cdn.shopify.com/s/files/1/0577/3957/5488/files/Vector_23_4.png?v=1764654764);
  background-size: 100% 100%;
  z-index: 2;
}

.veggie-buttons1 .button--secondary span {
  z-index: 3;
  position: relative;
}

.veggie-buttons1 .button--secondary:after {
  content: '';
   background: url(https://cdn.shopify.com/s/files/1/0577/3957/5488/files/Vector_25_1.png?v=1764654764);
  background-size: 100% 100%;
  padding: 17px 58px;
  bottom: -7px;
  z-index: 1;
  box-shadow: none;
}

.veggie-buttons1 .button--secondary:hover:before {
  background: url(https://cdn.shopify.com/s/files/1/0577/3957/5488/files/Vector_23_5.png?v=1764654764) !important;
  background-size: 100% 100% !important;
}
.veggie-buttons1 .button--secondary:hover:after{
  bottom: -7px;
  box-shadow: none;
}


</style>


<div class="help-section-wrapper">

  <div class="help-inner">

    <h2 class="help-heading">
      {{ section.settings.heading }}
    </h2>

    <p class="help-subtext">
      {{ section.settings.subheading }}
    </p>

    <div class="buttons-row">

      


 {% if section.settings.btn1_label or section.settings.btn2_label %}
      <div class="veggie-buttons1">
        {% if section.settings.btn1_label %}
          <a href="{{ section.settings.btn1_link }}" class="button button--primary"><span>{{ section.settings.btn1_label }}</span></a>
        {% endif %}
        {% if section.settings.btn2_label %}
          <a href="{{ section.settings.btn2_link }}" class="button button--secondary"><span>{{ section.settings.btn2_label  }}</span></a>
        {% endif %}
      </div>
    {% endif %}

    </div>

  </div>

</div>



{% schema %}
{
  "name": "Help Support Section",

  "settings": [

    {
      "type": "image_picker",
      "id": "bg_desktop",
      "label": "Background Image (Desktop)"
    },
    {
      "type": "image_picker",
      "id": "bg_mobile",
      "label": "Background Image (Mobile)"
    },

    {
      "type": "text",
      "id": "heading",
      "label": "Heading Text",
      "default": "we’re here to help you win more meals."
    },

    {
      "type": "textarea",
      "id": "subheading",
      "label": "Sub-heading Text",
      "default": "have a question, comment or concern? check out our FAQs or just send us a message."
    },

    { 
      "type": "text",
      "id": "btn1_label",
      "label": "Button 1 Label",
      "default": "FAQs"
    },
    { 
      "type": "url",
      "id": "btn1_link",
      "label": "Button 1 Link"
    },

    { 
      "type": "text",
      "id": "btn2_label",
      "label": "Button 2 Label",
      "default": "message us"
    },
    { 
      "type": "url",
      "id": "btn2_link",
      "label": "Button 2 Link"
    }

  ],

  "presets": [
    { "name": "Help Support Section" }
  ]
}
{% endschema %}
