{%- style -%}
  .winning-ingredients-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    background-color: {{ section.settings.background_color }};
    position: relative;
    overflow: hidden;
  }

  {%- if section.settings.background_image_desktop != blank -%}
    .winning-ingredients-{{ section.id }} {
      background-image: url('{{ section.settings.background_image_desktop | img_url: 'master' }}');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  {%- endif -%}

  .winning-ingredients-{{ section.id }} .container {
    padding: 0 80px;
  }
 
  .winning-ingredients-{{ section.id }} .background-image-left {
    position: absolute;
    left: -120px;
    top: -25px;
    width: 300px;
    height: 300px;
    z-index: 1;
    pointer-events: none;
  }
 
  .winning-ingredients-{{ section.id }} .background-image-left img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .winning-ingredients-{{ section.id }} .background-image-left .desktop-img {
    display: block;
  }

  .winning-ingredients-{{ section.id }} .background-image-left .mobile-img {
    display: none;
  }
 
  .winning-ingredients-{{ section.id }} .background-image-right {
    position: absolute;
    right: -138px;
    bottom: 0;
    width: 300px;
    height: 300px;
    z-index: 0;
    pointer-events: none;
  }
 
  .winning-ingredients-{{ section.id }} .background-image-right img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .winning-ingredients-{{ section.id }} .background-image-right .desktop-img {
    display: block;
  }

  .winning-ingredients-{{ section.id }} .background-image-right .mobile-img {
    display: none;
  }
 
  .winning-ingredients-{{ section.id }} .page-width {
    position: relative;
    z-index: 2;
  }
 
  .winning-ingredients-{{ section.id }} .section-heading {
    margin: 0px;
    text-align: {{ section.settings.heading_alignment }};
    font-family: var(--font-family);
    font-size: 84px;
    font-weight: 700;
    line-height: 86px;
    color: {{ section.settings.title_color }};
    margin-bottom: 56px;
    text-transform: lowercase;
  }
 
  .winning-ingredients-{{ section.id }} .columns-wrapper {
    display: flex;
    gap: 26px;
    margin-bottom: 67px;
    justify-content: flex-start;
    scrollbar-width: none;
    padding: 10px 0;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    /* cursor: grab; */
  }

  .winning-ingredients-{{ section.id }} .columns-wrapper::-webkit-scrollbar {
    display: none;
  }

  .winning-ingredients-{{ section.id }} .columns-wrapper.dragging {
    cursor: grabbing;
    scroll-behavior: auto;
    scroll-snap-type: none;
  }

    .winning-ingredients-{{ section.id }} .column-item-wrapper {
        width: 319px;
        height: 480px;
        scroll-snap-align: center;
        flex-shrink: 0;
    }
 
  .winning-ingredients-{{ section.id }} .column-item {
    border: {{ section.settings.border_thickness }}px solid {{ section.settings.border_color }};
    border-radius: {{ section.settings.border_radius }}px;
    padding: 2.5rem 2rem;
    height: 100%;
    background-color: transparent;
    position: relative;
    transition: transform 0.3s ease;
    transform-origin: center;
  }

  .winning-ingredients-{{ section.id }} .column-item:hover {
    transform: scale(1.04);
    z-index: 10;
  }
 
  .winning-ingredients-{{ section.id }} .column-icon {
    width: 48px;
    height: 48px;
    margin-bottom: 2rem;
    display: block;
  }
 
  .winning-ingredients-{{ section.id }} .column-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
 
  .winning-ingredients-{{ section.id }} .column-heading {
    font-family: var(--font-family);
    font-size: 124px;
    font-weight: 700;
    color: {{ section.settings.heading_color }};
    margin: 50px 0 35px;
    line-height: 86px;
    text-align: center;
  }
 
  .winning-ingredients-{{ section.id }} .column-preheading {
    font-size: 29px;
    font-family: var(--font-family);
    font-weight: 500;
    color: {{ section.settings.preheading_color }};
    margin-bottom: 35px;
    line-height: 100%;
    text-align: center;
  }
 
  .winning-ingredients-{{ section.id }} .column-description {
    font-family: var(--font-family);
    font-size: 21px;
    color: {{ section.settings.description_color }};
    line-height: 33px;
    font-weight: 400;
    margin-bottom: 40px;
    text-align: center;
  }
    .winning-ingredients-{{ section.id }} .column-description p {
      margin: 0;
    }

      .winning-ingredients-{{ section.id }} .column-description a{
        color: {{ section.settings.description_color }};
      }
 
  .winning-ingredients-{{ section.id }} .button-wrapper {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 7rem;
  }
  .winning-ingredients-{{ section.id }} .button-wrapper .button {
  background: transparent!important;
  color: #63441D;
  font-family: var(--font-family);
  font-size: 30px;
  line-height: 44px;
  font-weight: 600;
  text-decoration: none;
  box-shadow: none;
  cursor: pointer;
  transition: transform .2s ease, box-shadow .2s ease;
  text-align: center;
  border-radius: 35px;
  padding: 16px 54px;
  border: none;
  text-transform: lowercase;
    transform: none !important;
}

.winning-ingredients-{{ section.id }} .button-wrapper .button:before {
  background: url(https://cdn.shopify.com/s/files/1/0577/3957/5488/files/Vector_23_4.png?v=1764654764);
  background-size: 100% 100%;
  z-index: 2;
}

.winning-ingredients-{{ section.id }} .button-wrapper .button span {
  z-index: 3;
}

.winning-ingredients-{{ section.id }} .button-wrapper .button:after {
  content: '';
   background: url(https://cdn.shopify.com/s/files/1/0577/3957/5488/files/Vector_25_1.png?v=1764654764);
  background-size: 100% 100%;
  padding: 16px 54px;
  bottom: -6px;
  z-index: 1;
  box-shadow: none;
}

.winning-ingredients-{{ section.id }} .button-wrapper .button:hover:before {
  background: url(https://cdn.shopify.com/s/files/1/0577/3957/5488/files/Vector_23_5.png?v=1764654764) !important;
  background-size: 100% 100% !important;
}

@media (max-width: 1440px) {
   .winning-ingredients-{{ section.id }} .container {
    padding: 0 30px;
   }
  .winning-ingredients-{{ section.id }} .section-heading {
    font-size: 63px;
    line-height: 65px;
    margin-bottom: 30px;
  }
  .winning-ingredients-{{ section.id }} .column-item-wrapper {
    flex: 0 0 calc(100% / 5.5);
    height: 400px;
  }
   .winning-ingredients-{{ section.id }} .columns-wrapper {
    gap: 20px;
    justify-content: center;
   }
  .winning-ingredients-{{ section.id }} .column-heading {
    font-size: 93px;
    line-height: 65px;
  }
  .winning-ingredients-{{ section.id }} .column-preheading {
    font-size: 22px;
    line-height: 100%;
  }
  .winning-ingredients-{{ section.id }} .column-description {
    font-size: 16px;
    line-height: 25px;
  }
  .winning-ingredients-{{ section.id }} .button-wrapper .button {
    font-size: 23px;
    line-height: 33px;
    padding: 15px 48px;
  }
}

@media (max-width: 1200px) {
   .winning-ingredients-{{ section.id }} .container {
    padding: 0 50px;
   }
  .winning-ingredients-{{ section.id }} .section-heading {
    font-size: 58px;
    line-height: 60px;
    margin-bottom: 30px;
  }
  .winning-ingredients-{{ section.id }} .column-item-wrapper {
    flex: 0 0 calc(100% / 4.3);
    height: 400px;
  }
   .winning-ingredients-{{ section.id }} .columns-wrapper {
    gap: 20px;
    justify-content: flex-start;
   }
  .winning-ingredients-{{ section.id }} .column-heading {
    font-size: 85px;
    line-height: 60px;
  }
  .winning-ingredients-{{ section.id }} .column-preheading {
    font-size: 20px;
    line-height: 100%;
  }
  .winning-ingredients-{{ section.id }} .column-description {
    font-size: 16px;
    line-height: 25px;
  }
  .winning-ingredients-{{ section.id }} .button-wrapper .button {
    font-size: 20px;
    line-height: 33px;
    padding: 12px 48px;
  }
}

@media (max-width: 992px) {
   .winning-ingredients-{{ section.id }} .container {
    padding: 0 50px;
   }
  .winning-ingredients-{{ section.id }} .section-heading {
    font-size: 58px;
    line-height: 60px;
    margin-bottom: 30px;
  }
  .winning-ingredients-{{ section.id }} .column-item-wrapper {
    flex: 0 0 calc(100% / 4.3);
    height: 400px;
  }
   .winning-ingredients-{{ section.id }} .columns-wrapper {
    gap: 20px;
    justify-content: flex-start;
   }
  .winning-ingredients-{{ section.id }} .column-heading {
    font-size: 85px;
    line-height: 60px;
  }
  .winning-ingredients-{{ section.id }} .column-preheading {
    font-size: 20px;
    line-height: 100%;
  }
  .winning-ingredients-{{ section.id }} .column-description {
    font-size: 16px;
    line-height: 25px;
  }
  .winning-ingredients-{{ section.id }} .button-wrapper .button {
    font-size: 20px;
    line-height: 33px;
    padding: 12px 48px;
  }
}
    @media screen and (max-width: 768px) {
    {%- if section.settings.background_image_mobile != blank -%}
      .winning-ingredients-{{ section.id }} {
        background-image: url('{{ section.settings.background_image_mobile | img_url: 'master' }}');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    {%- endif -%}
    .winning-ingredients-{{ section.id }} .section-heading {
      font-size: 44px;
      line-height: 46px;
      margin: 0 0 20px;
      padding: 0px 27px;
    }
    .winning-ingredients-{{ section.id }} .column-item-wrapper {
        width: 262px !important;
        height: 395px !important;
    }

    .winning-ingredients-{{ section.id }} .column-icon img {
      width: 27px !important;
      height: 27px !important;
    }
      .winning-ingredients-{{ section.id }} .column-heading {
        font-size: 90px;
        margin: 20px 0 20px !important;
        line-height: 70px !important;
      }

      .winning-ingredients-{{ section.id }} .column-preheading {
        font-size: 24px !important;
        line-height: 28px;
      }
      .winning-ingredients-{{ section.id }} .column-description {
        font-size: 18px !important;
        line-height: 27px;
      }
        .winning-ingredients-{{ section.id }} .button-wrapper .button {
          font-size: 24px;
          line-height: 33px;
          padding: 12px 34px;
        }

    .winning-ingredients-{{ section.id }} .background-image-left .desktop-img {
      display: none;
    }

    .winning-ingredients-{{ section.id }} .background-image-left .mobile-img {
      display: block;
    }

    .winning-ingredients-{{ section.id }} .background-image-right .desktop-img {
      display: none;
    }

    .winning-ingredients-{{ section.id }} .background-image-right .mobile-img {
      display: block;
    }
  }
 
  @media screen and (max-width: 768px) {
    .winning-ingredients-{{ section.id }} .container {
      padding: 0 20px 50px;
    }
    {% if section.settings.enable_mobile_slider %}
      .winning-ingredients-{{ section.id }} .columns-wrapper {
        display: block;
        overflow-x: auto;
        overflow-y: visible;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        padding: 10px 20px;
        margin-bottom: 3rem;
        scrollbar-width: none;
        /* margin-left: -20px;
        margin-right: -20px; */
      }
     
      .winning-ingredients-{{ section.id }} .columns-wrapper::-webkit-scrollbar {
        height: 6px;
      }
     
      .winning-ingredients-{{ section.id }} .columns-wrapper::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
      }
     
      .winning-ingredients-{{ section.id }} .columns-wrapper::-webkit-scrollbar-thumb {
        background: {{ section.settings.border_color }};
        border-radius: 10px;
      }
     
      .winning-ingredients-{{ section.id }} .column-item-wrapper {
        display: inline-block;
        width: 85%;
        max-width: 320px;
        margin-right: 21px;
        white-space: normal;
        vertical-align: top;
        scroll-snap-align: center;
        padding: 10px 0;
      }
      
    {% else %}
      .winning-ingredients-{{ section.id }} .columns-wrapper {
        display: flex;
        overflow-x: auto;
        overflow-y: visible;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
        gap: 21px;
        padding: 10px 40px;
        grid-template-columns: none;
        /* margin-left: -20px;
        margin-right: -20px; */
      }
     
      .winning-ingredients-{{ section.id }} .columns-wrapper::-webkit-scrollbar {
        height: 4px;
      }
     
      .winning-ingredients-{{ section.id }} .columns-wrapper::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
      }
     
      .winning-ingredients-{{ section.id }} .columns-wrapper::-webkit-scrollbar-thumb {
        background: {{ section.settings.border_color }};
        border-radius: 10px;
      }
     
      .winning-ingredients-{{ section.id }} .column-item-wrapper {
        flex: 0 0 85%;
        scroll-snap-align: start;
        padding: 10px 0;
      }
    {% endif %}
   
    .winning-ingredients-{{ section.id }} .background-image-left {
      left: -70px;
      top: -10px;
      width: 160px;
      height: 160px;
    }
    .winning-ingredients-{{ section.id }} .background-image-right {
      right: -91px;
      bottom: 0;
      width: 200px;
      height: 200px;
    }
  }
/* @media (min-width: 769px) and (max-width: 992px) {
  .winning-ingredients-{{ section.id }} .container {
    padding: 0 50px;
  }
  .winning-ingredients-{{ section.id }} .columns-wrapper {
    display: flex;
    overflow-x: auto;
    overflow-y: visible;
    scroll-snap-type: x mandatory;
    gap: 26px;
    justify-content: flex-start;
    padding: 10px 0;
  }
  .winning-ingredients-{{ section.id }} .column-item-wrapper {
    flex: 0 0 calc(100% / 2.4);
    scroll-snap-align: center;
    padding: 10px 0;
  }

  .winning-ingredients-{{ section.id }} .column-heading {
    font-size: 110px;
    line-height: 74px;
  }
  .winning-ingredients-{{ section.id }} .column-preheading {
    font-size: 27px;
  }
  .winning-ingredients-{{ section.id }} .column-description {
    font-size: 20px;
    line-height: 28px;
  }
} */

/* @media (min-width: 991px) and (max-width: 1200px) {
  .winning-ingredients-{{ section.id }} .container {
    padding: 0 80px;
  }
  .winning-ingredients-{{ section.id }} .columns-wrapper {
    display: flex;
    overflow-x: auto;
    overflow-y: visible;
    scroll-snap-type: x mandatory;
    gap: 26px;
    justify-content: flex-start;
    padding: 10px 0px;
  }
  .winning-ingredients-{{ section.id }} .column-item-wrapper {
    flex: 0 0 calc(100% / 3.5);
    scroll-snap-align: center;
    padding: 10px 0;
  }
  .winning-ingredients-{{ section.id }} .column-heading {
    font-size: 110px;
    line-height: 74px;
  }
  .winning-ingredients-{{ section.id }} .column-preheading {
    font-size: 27px;
  }
  .winning-ingredients-{{ section.id }} .column-description {
    font-size: 20px;
    line-height: 28px;
  }
} */
/* @media (min-width: 1201px) and (max-width: 1400px) {
  .winning-ingredients-{{ section.id }} .container {
    padding: 0 80px;
  }
  .winning-ingredients-{{ section.id }} .columns-wrapper {
    display: flex;
    overflow-x: auto;
    overflow-y: visible;
    scroll-snap-type: x mandatory;
    gap: 26px;
    justify-content: flex-start;
    padding: 10px 0px;
  }
  .winning-ingredients-{{ section.id }} .column-item-wrapper {
    flex: 0 0 calc(100% / 4);
    scroll-snap-align: center;
    padding: 10px 0;
  }
} */

@media (min-width: 1441px) and (max-width: 1650px) {
  .winning-ingredients-{{ section.id }} .container {
    padding: 0 25px 0px;
  }
  .winning-ingredients-{{ section.id }} .columns-wrapper {
    display: flex;
    overflow-x: auto;
    overflow-y: visible;
    scroll-snap-type: x mandatory;
    gap: 24px;
    justify-content: center;
    /* margin-left: -20px;
    margin-right: -20px; */
    padding: 10px 0px;
  }
  .winning-ingredients-{{ section.id }} .column-item-wrapper {
    flex: 0 0 calc(100% / 5.5);
    scroll-snap-align: center;
    padding: 10px 0;
  }
}


/* 1200px → 5.5 slides */
@media (min-width: 1651px) {
  .winning-ingredients-{{ section.id }} .columns-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 26px;
    justify-content: center;
  }
  .winning-ingredients-{{ section.id }} .column-item-wrapper {
    flex: 0 0 calc(100% / 5.5);
    scroll-snap-align: center;
  }
}


{%- endstyle -%}

<div class="winning-ingredients-{{ section.id }}">
  {%- if section.settings.background_image_left != blank or section.settings.background_image_left_mobile != blank -%}
    <div class="background-image-left">
      {%- if section.settings.background_image_left != blank -%}
        <img src="{{ section.settings.background_image_left | img_url: '600x600' }}"
             alt="Background decoration"
             loading="lazy"
             class="desktop-img">
      {%- endif -%}
      {%- if section.settings.background_image_left_mobile != blank -%}
        <img src="{{ section.settings.background_image_left_mobile | img_url: '600x600' }}"
             alt="Background decoration"
             loading="lazy"
             class="mobile-img">
      {%- elsif section.settings.background_image_left != blank -%}
        <img src="{{ section.settings.background_image_left | img_url: '600x600' }}"
             alt="Background decoration"
             loading="lazy"
             class="mobile-img">
      {%- endif -%}
    </div>
  {%- endif -%}
 
  {%- if section.settings.background_image_right != blank or section.settings.background_image_right_mobile != blank -%}
    <div class="background-image-right">
      {%- if section.settings.background_image_right != blank -%}
        <img src="{{ section.settings.background_image_right | img_url: '600x600' }}"
             alt="Background decoration"
             loading="lazy"
             class="desktop-img">
      {%- endif -%}
      {%- if section.settings.background_image_right_mobile != blank -%}
        <img src="{{ section.settings.background_image_right_mobile | img_url: '600x600' }}"
             alt="Background decoration"
             loading="lazy"
             class="mobile-img">
      {%- elsif section.settings.background_image_right != blank -%}
        <img src="{{ section.settings.background_image_right | img_url: '600x600' }}"
             alt="Background decoration"
             loading="lazy"
             class="mobile-img">
      {%- endif -%}
    </div>
  {%- endif -%}
 
  <div class="container">
    {%- if section.settings.title != blank -%}
      <h2 class="section-heading">
        {{ section.settings.title }}
      </h2>
    {%- endif -%}
   
    <div class="columns-wrapper">
      {%- for block in section.blocks -%}
        <div class="column-item-wrapper" {{ block.shopify_attributes }}>
          <div class="column-item">
            {%- if block.settings.icon != blank -%}
              <div class="column-icon">
                <img src="{{ block.settings.icon | img_url: '96x96' }}"
                     alt="{{ block.settings.heading }}"
                     loading="lazy"
                     width="48"
                     height="48">
              </div>
            {%- endif -%}
           
            {%- if block.settings.heading != blank -%}
              <h3 class="column-heading">{{ block.settings.heading }}</h3>
            {%- endif -%}
           
            {%- if block.settings.preheading != blank -%}
              <div class="column-preheading">{{ block.settings.preheading }}</div>
            {%- endif -%}
           
            {%- if block.settings.description != blank -%}
              <div class="column-description">{{ block.settings.description }}</div>
            {%- endif -%}
          </div>
        </div>
      {%- endfor -%}
    </div>
   
    {%- if section.settings.button_label != blank -%}
      <div class="button-wrapper">
        <a href="{{ section.settings.button_link }}"
           class="button button--{{ section.settings.button_style }}">
          <span>{{ section.settings.button_label }}</span>
        </a>
      </div>
    {%- endif -%}
  </div>
</div>

<script>
(function() {
  const sectionId = '{{ section.id }}';
  const slider = document.querySelector('.winning-ingredients-' + sectionId + ' .columns-wrapper');
  
  if (!slider) return;

  let isDown = false;
  let startX;
  let scrollLeft;

  // Mouse events
  slider.addEventListener('mousedown', (e) => {
    isDown = true;
    slider.classList.add('dragging');
    startX = e.pageX - slider.offsetLeft;
    scrollLeft = slider.scrollLeft;
  });

  slider.addEventListener('mouseleave', () => {
    isDown = false;
    slider.classList.remove('dragging');
  });

  slider.addEventListener('mouseup', () => {
    isDown = false;
    slider.classList.remove('dragging');
  });

  slider.addEventListener('mousemove', (e) => {
    if (!isDown) return;
    e.preventDefault();
    const x = e.pageX - slider.offsetLeft;
    const walk = (x - startX) * 1.5; // Scroll speed multiplier
    slider.scrollLeft = scrollLeft - walk;
  });

  // Touch events for mobile
  let touchStartX = 0;
  let touchScrollLeft = 0;

  slider.addEventListener('touchstart', (e) => {
    touchStartX = e.touches[0].pageX - slider.offsetLeft;
    touchScrollLeft = slider.scrollLeft;
  }, { passive: true });

  slider.addEventListener('touchmove', (e) => {
    if (!touchStartX) return;
    const x = e.touches[0].pageX - slider.offsetLeft;
    const walk = (x - touchStartX) * 1.5;
    slider.scrollLeft = touchScrollLeft - walk;
  }, { passive: true });

  slider.addEventListener('touchend', () => {
    touchStartX = 0;
  });
})();
</script>

{% schema %}
{
  "name": "Winning Ingredients",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Heading",
      "default": "winning ingredients"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Heading Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Section Heading Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#1a4d3a"
    },
    {
      "type": "header",
      "content": "Section Background Image"
    },
    {
      "type": "image_picker",
      "id": "background_image_desktop",
      "label": "Background Image (Desktop)",
      "info": "If set, this will override the background color on desktop"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "Background Image (Mobile)",
      "info": "If set, this will override the background color on mobile. If not set, desktop image will be used"
    },
    {
      "type": "header",
      "content": "Background Images - Desktop"
    },
    {
      "type": "image_picker",
      "id": "background_image_left",
      "label": "Background Image Left (Desktop)"
    },
    {
      "type": "image_picker",
      "id": "background_image_right",
      "label": "Background Image Right (Desktop)"
    },
    {
      "type": "header",
      "content": "Background Images - Mobile"
    },
    {
      "type": "image_picker",
      "id": "background_image_left_mobile",
      "label": "Background Image Left (Mobile)",
      "info": "If not set, desktop image will be used on mobile"
    },
    {
      "type": "image_picker",
      "id": "background_image_right_mobile",
      "label": "Background Image Right (Mobile)",
      "info": "If not set, desktop image will be used on mobile"
    },
    {
      "type": "header",
      "content": "Mobile Settings"
    },
    {
      "type": "checkbox",
      "id": "enable_mobile_slider",
      "label": "Enable Swipe Slider on Mobile",
      "default": true,
      "info": "When enabled, columns will be swipeable left-to-right on mobile devices"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "ingredients"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button Style",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        }
      ],
      "default": "primary"
    },
    {
      "type": "header",
      "content": "Column Styling"
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border Thickness",
      "default": 2
    },
    {
      "type": "range",
      "id": "border_radius",
      "min": 0,
      "max": 50,
      "step": 5,
      "unit": "px",
      "label": "Border Radius",
      "default": 15
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Border Color",
      "default": "#7ab55c"
    },
    {
      "type": "header",
      "content": "Typography"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 30,
      "max": 120,
      "step": 2,
      "unit": "px",
      "label": "Column Heading Size",
      "default": 80
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Column Heading Color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "preheading_size",
      "min": 12,
      "max": 32,
      "step": 1,
      "unit": "px",
      "label": "Preheading Size",
      "default": 18
    },
    {
      "type": "color",
      "id": "preheading_color",
      "label": "Preheading Color",
      "default": "#ff8c42"
    },
    {
      "type": "range",
      "id": "description_size",
      "min": 12,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "Description Size",
      "default": 15
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description Color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 60
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Column Heading",
          "default": "Wh"
        },
        {
          "type": "text",
          "id": "preheading",
          "label": "Preheading Text",
          "default": "Wholesome ingredients"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>We use the kind of real ingredients you'd use in your own kitchen.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Winning Ingredients",
      "blocks": [
        {
          "type": "column",
          "settings": {
            "heading": "Wh",
            "preheading": "Wholesome ingredients",
            "description": "<p>We use the kind of real ingredients you'd use in your own kitchen.</p>"
          }
        },
        {
          "type": "column",
          "settings": {
            "heading": "Pro",
            "preheading": "Protein power",
            "description": "<p>Protein helps growing bodies and brains stay strong and energized.</p>"
          }
        },
        {
          "type": "column",
          "settings": {
            "heading": "Vi",
            "preheading": "Vitamin boost",
            "description": "<p>Our ingredients naturally provide the vitamins kids need in every bite.</p>"
          }
        },
        {
          "type": "column",
          "settings": {
            "heading": "Cr",
            "preheading": "Calcium rich",
            "description": "<p>Calcium supports strong bones and teeth—and happy smiling kids.</p>"
          }
        },
        {
          "type": "column",
          "settings": {
            "heading": "In",
            "preheading": "Ingredient info",
            "description": "<p>Learn more about our ingredients and how they make our meals winners.</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}

