{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  ul.footer-block__details-content.list-unstyled a {
    font-size: 25px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif

    if settings.brand_image == blank and settings.brand_headline == blank and settings.brand_description == blank
      assign brand_empty = true
    endif

    if section.blocks.size == 1 and section.blocks[0].type == 'brand_information' and brand_empty and has_social_icons == false and section.settings.newsletter_enable == false and section.settings.enable_follow_on_shop == false
      assign only_empty_brand = true
    endif
  -%}
  {%- if section.blocks.size > 0
    or section.settings.newsletter_enable
    or section.settings.show_social
    and has_social_icons == true
    or section.settings.enable_follow_on_shop
  -%}
    {%- unless only_empty_brand -%}
      <div class="footer__content-top page-width">
        {%- if section.blocks.size > 0 -%}
          {%- liquid
            if section.blocks.size == 9
              assign footer_grid_class = 'grid--3-col-tablet'
            elsif section.blocks.size > 6
              assign footer_grid_class = 'grid--4-col-desktop'
            elsif section.blocks.size > 4
              assign footer_grid_class = 'grid--3-col-tablet'
            endif
          -%}
          <div
            class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet {{ footer_grid_class }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
            {% endif %}
          >
            {%- for block in section.blocks -%}
              <div
                class="footer-block grid__item{% if block.type == 'link_list' %} footer-block--menu{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {%- if block.settings.heading != blank -%}
                  <h2 class="footer-block__heading inline-richtext">{{- block.settings.heading -}}</h2>
                {%- endif -%}

                {%- case block.type -%}
                  {%- when '@app' -%}
                    {% render block %}
                  {%- when 'text' -%}
                    <div class="footer-block__details-content rte">
                      {{ block.settings.subtext }}
                    </div>
                  {%- when 'link_list' -%}
                    {%- if block.settings.menu != blank -%}
                      <ul class="footer-block__details-content list-unstyled">
                        {%- for link in block.settings.menu.links -%}
                          <li>
                            <a
                              href="{{ link.url }}"
                              class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                            >
                              {{ link.title | escape }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                  {%- when 'brand_information' -%}
                    <div class="footer-block__brand-info">
                      {%- if settings.brand_image != blank -%}
                        {%- assign brand_image_height = settings.brand_image_width
                          | divided_by: settings.brand_image.aspect_ratio
                        -%}
                        <div
                          class="footer-block__image-wrapper 1"
                          style="max-width: min(100%, {{ settings.brand_image_width }}px);"
                        >
                          
                          {{
                            settings.brand_image
                            | image_url: width: 1100
                            | image_tag:
                              loading: 'lazy',
                              widths: '50, 100, 150, 200, 300, 400, 550, 800, 1100',
                              height: brand_image_height,
                              width: settings.brand_image_width
                          }}
                        </div>
                      {%- endif -%}
                      {%- if settings.brand_headline != blank -%}
                        <h2 class="footer-block__heading rte">{{ settings.brand_headline }}</h2>
                      {%- endif -%}
                      {%- if settings.brand_description != blank -%}
                        <div class="rte">{{ settings.brand_description }}</div>
                      {%- endif -%}
                      {%- if block.settings.show_social and has_social_icons -%}
                        {%- render 'social-icons', class: 'footer__list-social' -%}
                      {%- endif -%}
                    </div>
                  {%- when 'image' -%}
                    <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}">
                      {%- if block.settings.image != blank -%}
                        {%- assign image_size_2x = block.settings.image_width | times: 2 | at_most: 5760 -%}
                        <div
                          class="footer-block__image-wrapper "
                          style="max-width: min(100%, {{ block.settings.image_width }}px);"
                        >
                          <a href="{{ shop.url }}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="220" height="49" viewBox="0 0 220 49" fill="none">
<path d="M147.839 36.8537C146.373 38.6828 143.42 41.2344 139.496 41.2344C132.784 41.2344 130.037 36.1591 129.475 32.075C132.609 32.075 156.192 32.068 156.192 32.068L156.178 30.4205C156.178 21.5752 150.446 11.9236 139.014 11.9375C128.612 11.955 122.057 20.8142 122.067 29.9771C122.078 38.606 127.248 48.0621 139.269 48.0621C146.795 48.0621 151.762 43.5383 153.867 40.6794L147.842 36.8502L147.839 36.8537ZM139.084 18.7931C143.926 18.7931 146.767 21.9661 148.062 25.6173C144.788 25.6173 134.054 25.6103 130.291 25.6103C131.824 21.4286 135.37 18.7931 139.084 18.7931Z" fill="white"/>
<path d="M95.5457 13.6065V11.2468C95.5457 8.25187 97.8704 6.80326 102.747 6.80326H103.818V0H102.597C90.7321 0 88.3235 6.5624 88.3235 12.1544L88.3096 47.3331H95.5282C95.5282 47.3331 95.5457 23.1045 95.5561 20.2387H103.246V13.6065H95.5422H95.5457Z" fill="white"/>
<path d="M113.623 23.4912C113.623 20.4928 115.623 18.8836 119.616 18.7265H120.684V11.9512H119.466C114.778 11.9512 112.467 12.8657 110.244 14.7158C107.727 16.8136 106.401 19.6341 106.401 23.013L106.387 47.3183H113.605L113.623 23.4877V23.4912Z" fill="white"/>
<path d="M41.6814 17.9414H34.4697V47.3082H41.6814V17.9414Z" fill="white"/>
<path d="M74.7138 0.621094V15.9625C73.7294 15.0933 72.6753 14.3568 71.5548 13.7738C69.244 12.5626 66.633 11.9447 63.7951 11.9447C58.8907 11.9447 54.6356 13.7215 51.159 17.2226C47.6823 20.7202 45.916 24.9927 45.916 29.9145C45.916 34.8363 47.6613 39.252 51.1101 42.7601C54.5588 46.2752 58.7895 48.0589 63.6729 48.0589C66.42 48.0589 68.9857 47.4899 71.3069 46.3694C72.5007 45.7935 73.6352 45.0465 74.7103 44.1668V47.3049H81.9255V0.621094H74.7103H74.7138ZM73.534 35.8137C72.6089 37.4613 71.3139 38.7354 69.5721 39.7163C67.8407 40.6832 65.9872 41.1823 64.0639 41.1823C62.1405 41.1823 60.3952 40.7006 58.7162 39.7163C57.0337 38.7319 55.7317 37.388 54.7299 35.6148C53.7211 33.8241 53.2324 32.0194 53.2324 30.0751C53.2324 28.1308 53.7176 26.2982 54.7124 24.5355C55.7038 22.7762 56.9953 21.4567 58.6673 20.4933C60.3393 19.5264 62.1196 19.0552 64.0953 19.0552C67.1775 19.0552 69.6908 20.0919 71.7921 22.2282C73.904 24.3679 74.9267 26.9719 74.9302 30.1868C74.9302 32.2812 74.459 34.1696 73.5305 35.8137" fill="white"/>
<path d="M191.388 0.624023H185.789V47.3113H193.001V29.1216C193.001 22.5976 197.93 18.8347 201.811 18.8347C206.164 18.8347 209.194 22.0042 209.194 27.2646V47.3113H216.402V26.1092C216.402 18.7125 212.217 11.9511 202.59 11.9511C198.3 11.9511 195.05 13.8954 193.001 16.0736V0.624023H191.392H191.388Z" fill="white"/>
<path d="M31.5519 47.3084L14.2523 28.7417L30.7037 12.7057H20.518L7.21515 26.1202V0.621094H0V47.3084H7.21515V31.9042L21.5338 47.3084H31.5519Z" fill="white"/>
<path d="M171.08 11.9648C174.539 11.9648 178.051 13.0679 180.822 15.8988L176.019 20.873C174.619 19.6128 173.439 18.8065 171.366 18.8065C168.612 18.8065 167.456 20.3633 167.456 21.8015C167.456 23.7772 170.078 25.327 172.598 26.7372C176.794 29.0829 180.983 31.4915 180.983 37.7991C180.983 43.2235 175.726 48.1418 169.547 48.1418C164.025 48.1418 161.69 45.9951 158.922 43.2794L164.011 38.3611C164.905 39.6735 167.6 41.3037 169.324 41.3037C172.099 41.3037 173.562 39.2616 173.562 37.7432C173.562 35.2753 171.74 34.5528 167.854 32.221C163.976 29.8963 160.168 27.4668 160.168 21.976C160.168 16.0978 164.912 11.9683 171.076 11.9683" fill="white"/>
<path d="M218.564 45.6504C218.512 45.6295 218.438 45.619 218.344 45.619H218.25V46.0414H218.396C218.487 46.0414 218.557 46.0239 218.602 45.989C218.651 45.9541 218.679 45.8948 218.679 45.8145C218.679 45.7342 218.641 45.6783 218.56 45.6504M217.873 46.8163V45.3677H218.274C218.456 45.3677 218.554 45.3677 218.574 45.3677C218.686 45.3747 218.784 45.3991 218.861 45.441C218.99 45.5108 219.053 45.6295 219.053 45.79C219.053 45.9087 219.021 45.9995 218.951 46.0518C218.882 46.1042 218.801 46.1356 218.7 46.1496C218.791 46.1705 218.861 46.1985 218.906 46.2334C218.99 46.2997 219.035 46.4079 219.035 46.558V46.6871C219.035 46.6871 219.035 46.7151 219.035 46.729C219.035 46.743 219.039 46.757 219.046 46.7709L219.06 46.8128H218.697C218.683 46.7674 218.676 46.7011 218.672 46.6138C218.669 46.5231 218.658 46.4672 218.648 46.4358C218.63 46.3835 218.592 46.3485 218.543 46.3276C218.515 46.3171 218.47 46.3102 218.414 46.3032L218.33 46.2962H218.25V46.8093H217.869L217.873 46.8163ZM217.677 45.3293C217.468 45.5422 217.367 45.7935 217.367 46.0868C217.367 46.38 217.471 46.6453 217.684 46.8582C217.894 47.0676 218.149 47.1758 218.449 47.1758C218.745 47.1758 218.997 47.0676 219.21 46.8547C219.419 46.6383 219.524 46.3835 219.524 46.0833C219.524 45.7831 219.419 45.5352 219.21 45.3258C218.997 45.1059 218.742 44.9977 218.445 44.9977C218.145 44.9977 217.887 45.1059 217.677 45.3258M219.36 47.0257C219.105 47.2701 218.801 47.3957 218.445 47.3957C218.089 47.3957 217.765 47.2701 217.513 47.0188C217.262 46.7674 217.136 46.4568 217.133 46.0902C217.133 45.7063 217.269 45.3886 217.541 45.1373C217.796 44.8999 218.096 44.7812 218.442 44.7812C218.801 44.7812 219.112 44.9104 219.367 45.1652C219.622 45.4235 219.751 45.7307 219.751 46.0902C219.751 46.4498 219.618 46.7744 219.356 47.0292" fill="white"/>
<path d="M44.5372 0.537109C38.9382 0.537109 34.4004 5.07494 34.4004 10.6739V13.2884H37.0149C42.6139 13.2884 47.1517 8.75058 47.1517 3.1516V0.537109H44.5372Z" fill="#F8971D"/>
</svg>
                            </a>
                        </div>
                      {%- else -%}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                      {%- endif -%}
                    </div>
                {%- endcase -%}
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}

        <div
          class="footer-block--newsletter{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
          {% endif %}
        >
          {%- if section.settings.newsletter_enable -%}
            <div class="footer-block__newsletter">
              {%- if section.settings.newsletter_heading != blank -%}
                <h2 class="footer-block__heading inline-richtext">{{ section.settings.newsletter_heading }}</h2>
              {%- endif -%}
              {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                  <div class="field">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="field__input"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="ContactFooter-error"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="ContactFooter-success"
                      {% endif %}
                      placeholder="{{ 'newsletter.label' | t }}"
                      required
                    >
                    <label class="field__label" for="NewsletterForm--{{ section.id }}">
                      {{ 'newsletter.label' | t }}
                    </label>
                    <button
                      type="submit"
                      class="newsletter-form__button field__button"
                      name="commit"
                      id="Subscribe"
                      aria-label="{{ 'newsletter.button_label' | t }}"
                    >
                      <span class="svg-wrapper">
                        {{- 'icon-arrow.svg' | inline_asset_content -}}
                      </span>
                    </button>
                  </div>
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="ContactFooter-error">
                      <span class="svg-wrapper">
                        {{- 'icon-error.svg' | inline_asset_content -}}
                      </span>
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3
                    class="newsletter-form__message newsletter-form__message--success form__message"
                    id="ContactFooter-success"
                    tabindex="-1"
                    autofocus
                  >
                    <span class="svg-wrapper">
                      {{- 'icon-success.svg' | inline_asset_content -}}
                    </span>
                    {{- 'newsletter.success' | t }}
                  </h3>
                {%- endif -%}
              {%- endform -%}
            </div>
          {%- endif -%}

          {%- if shop.features.follow_on_shop? and section.settings.enable_follow_on_shop -%}
            <div class="footer__follow-on-shop">
              {{ shop | login_button: action: 'follow' }}
            </div>
          {%- endif -%}

          {%- if section.settings.show_social and has_social_icons -%}
            {%- render 'social-icons', class: 'footer__list-social' -%}
          {%- endif -%}
        </div>
      </div>
    {%- endunless -%}
  {%- endif -%}

  <div
    class="footer__content-bottom{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__column footer__localization isolate">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <localization-form>
            {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="caption-large text-body" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'FooterCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <localization-form>
            {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="caption-large text-body" id="FooterLanguageLabel">
                  {{ 'localization.language_label' | t }}
                </h2>
                {%- render 'language-localization', localPosition: 'FooterLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      <div class="footer__column footer__column--info">
        {%- if section.settings.payment_enable -%}
          <div class="footer__payment">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul class="list list-payment" role="list">
              {%- for type in shop.enabled_payment_types -%}
                <li class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
      </div>
    </div>
    <div class="footer__content-bottom-wrapper page-width{% if section.settings.enable_country_selector == false and section.settings.enable_language_selector == false %} footer__content-bottom-wrapper--center{% endif %}">
      <div class="footer__copyright caption">
        <small class="copyright__content"
          >&copy; Copyright 2025 Kidfresh. All Rights Reserved. Website by <u>Echo Boomer Design.</u>
        </small>
        <small class="copyright__content"></small>
        {%- if section.settings.show_policy -%}
          <ul class="policies list-unstyled">
            {%- for policy in shop.policies -%}
              {%- if policy != blank -%}
                <li>
                  <small class="copyright__content"
                    ><a href="{{ shop.url }}/pages/privacy-policy">{{ policy.title | escape }}</a></small
                  >
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.link_list.settings.heading.default",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.text.settings.heading.default",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 550,
          "step": 5,
          "unit": "px",
          "label": "Width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "t:sections.footer.settings.newsletter_heading.default",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__9.content"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "t:sections.footer.settings.enable_follow_on_shop.label",
      "info": "t:sections.footer.settings.enable_follow_on_shop.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label",
      "info": "t:sections.footer.settings.show_social.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label",
      "info": "t:sections.footer.settings.enable_country_selector.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label",
      "info": "t:sections.footer.settings.enable_language_selector.info"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": true,
      "label": "t:sections.footer.settings.show_policy.label",
      "info": "t:sections.footer.settings.show_policy.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}



<style>
  .custom-top__wrapper{
    margin-bottom: -8%;
  }
  .custom-top__image--desktop{
    margin-top: -5%;
  }
  .footer__content-bottom{
    background-color: #ED7723;
  }
</style>