  <style>
    .auto-video-sub-section .banner__heading  p{
      margin: 0 !important;
    }
  .auto-video-section {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      {% comment %} z-index: -1; {% endcomment %}
  }

  .auto-video-sub-section {
      position: absolute;
      {% comment %} top: auto !important;
      left: 50%;
      transform: translate(-50%); {% endcomment %}
      text-align: center;
      z-index: 2;
      padding: 50px;
      width: 100%;
      {% if section.settings.leaf_bg != blank %}
        background-image: url('{{ section.settings.leaf_bg | img_url: '1000x1000' }}');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      {% endif %}
  }

  .auto-video-sub-section h2.banner__heading.inline-richtext.h0 {
        color: #F89821;
      font-family: var(--font-family-bold);
      font-size: 109px;
      line-height: 107px;
      font-weight: 700;
      padding: 0;
      padding-bottom: 0;
      margin :0px;
      margin-top: 20px;
  }

  .rotating-subheading-container {
      position: relative;
      overflow: hidden;
      min-height: 120px;
  }

  .banner__text.rte.body p {
    font-family: var(--font-family);
      color: white;
      font-size: 109px;
      line-height: 107px;
      margin-bottom: 20px;
      position: absolute;
      margin-top: 0;
      font-weight: 700;
      width: 100%;
      left: 0;
      top: 0;
      transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
  }


/* ---- UNDERLINE FIX (Tight Spacing + Full Width) ---- */
.rotating-subheading span.multi-line {
    position: relative;
    display: inline-block;
    text-align: center;
    padding-bottom: 0;
}

.rotating-subheading span.multi-line::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 18px;
    background-image: url(https://cdn.shopify.com/s/files/1/0577/3957/5488/files/Vector_20.png?v=1765521638);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

.banner__text.rte.body p {
    font-family: var(--font-family);
    color: white;
    font-size: 109px;
    line-height: 107px;
    font-weight: 700;
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    transition: transform .8s ease-in-out, opacity .8s ease-in-out;
}

  .rotating-subheading {
      transition: opacity 0.8s ease-in-out;
      text-align: center;
  }

  .rotating-subheading.swipe-out-right {
      transform: translateX(120%);
      opacity: 0;
  }

  .rotating-subheading.swipe-in-left {
      transform: translateX(-120%);
      opacity: 0;
  }

  .rotating-subheading.visible {
      transform: translateX(0);
      opacity: 1;
  }

  .rotating-subheading.hidden {
      opacity: 0;
      transform: translateX(-120%);
  }

  .banner__buttons .button{
    background: transparent!important;
    color: #0F4735;
    font-family: var(--font-family);
    font-size: 30px;
    font-weight: 600;
    line-height: 44px;
    text-decoration: none;
    box-shadow: none;
    cursor: pointer;
    transition: transform .2s ease, box-shadow .2s ease;
    text-align: center;
    border-radius: 35px;
    padding: 17px 58px;
    border: none;
    text-transform: lowercase;
      transform: none !important;
  }

  .banner__buttons .button:before {
    background: url(https://cdn.shopify.com/s/files/1/0577/3957/5488/files/Vector_23_2.png?v=1764592651);
    background-size: 100% 100%;
    z-index: 2;
  }

  .banner__buttons .button span{
    z-index: 3;
  }

  .banner__buttons .button:after {
    content: '';
    background: url(https://cdn.shopify.com/s/files/1/0577/3957/5488/files/Vector_25.png?v=1764592665);
    background-size: 100% 100%;
    padding: 17px 58px;
    bottom: -7px;
    z-index: 1;
    box-shadow: none;
  }


  .banner__buttons .button:hover:before {
    background: url(https://cdn.shopify.com/s/files/1/0577/3957/5488/files/Vector_23_3.png?v=1764592664) !important;
    background-size: 100% 100% !important;
  }

  .banner__buttons .button:hover:after{
    bottom: -6px;
    box-shadow: none;
  }


  .auto-video-sub-section .bottom-decor {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    z-index: 3;
  }

  .banner__buttons {
      margin-top: 20px;
    }
    

  .desktop-video {
    display: none;
    width: 100%;
    height: auto;
  }

  .mobile-video {
    display: none;
    width: 100%;
    height: auto;
  }

  .large-screen-video {
    display: none;
    width: 100%;
    height: auto;
  }
  @media (min-width: 1600px) {
    .large-screen-video {
      display: block;
    }
  }

  @media (min-width: 769px) and (max-width: 1599px) {
    .desktop-video {
      display: block;
    }
  }

  @media (max-width: 768px) {
    .mobile-video {
      display: block;
    }
    .banner__buttons .button {
      font-size: 20px;
      line-height: 33px;
    }

.rotating-subheading span.multi-line::after {
    height: 14px;
}
  }

  @media (max-width: 1600px) {
    .auto-video-sub-section {
      padding: 20px;
    }
          .auto-video-sub-section h2.banner__heading.inline-richtext.h0 {
          font-size: 82px;
          line-height: 80px;
          margin-top: 30px;
      }
      .rotating-subheading-container {
      height: 100px !important;
      min-height: 80px !important;
  }
  .banner__text.rte.body p {
      font-size: 82px;
      line-height: 80px;
  }
  .banner__buttons {
    margin: 20px 0;
  }
  .banner__buttons .button {
      font-size: 23px;
      line-height: 33px;
      padding: 15px 48px;
  }
  }

  @media (max-width: 1200px) {
          .auto-video-sub-section h2.banner__heading.inline-richtext.h0 {
          font-size: 70px;
          line-height: 68px;
          margin-top: 20px;
      }
      .rotating-subheading-container {
      height: 90px !important;
      min-height: 80px !important;
  }
  .banner__text.rte.body p {
      font-size: 70px;
      line-height: 68px;
  }
  .banner__buttons {
    margin-top: 0;
  }
  .banner__buttons .button {
      font-size: 20px;
      line-height: 33px;
      padding: 12px 48px;
  }
  }

  @media (max-width: 992px) {
        .auto-video-sub-section h2.banner__heading.inline-richtext.h0 {
          font-size: 54px;
          line-height: 60px;
          {% comment %} padding-bottom: 36px; {% endcomment %}
          margin-top: 20px;
      }
      .rotating-subheading-container {
        height: 55px !important;
        min-height: 50px;
      }
      .banner__text.rte.body p {
      font-size: 54px;
      line-height: 60px;
      }
      .banner__buttons {
      margin-top: 5px;
  }
      .banner__buttons .button {
      font-size: 18px;
      line-height: 30px;
      padding: 12px 48px;
  }
  }

  @media (max-width: 768px) {
    .auto-video-sub-section {
      margin: 0 !important;
      padding: 20px;
      max-width: 450px;
      width: 100%;
      justify-self: center;
      background-image: none;
      {% if section.settings.leaf_mobile_bg != blank %}
      background-image: url('{{ section.settings.leaf_mobile_bg | img_url: '400x400' }}');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    {% endif %}
    }
        .auto-video-sub-section h2.banner__heading.inline-richtext.h0 {
          font-size: 72px;
          line-height: 66px;
          margin: 0;
      }
          .rotating-subheading-container {
          height: 150px !important;
          min-height: 80px;
      }
          .banner__text.rte.body p {
          font-size: 72px;
          line-height: 66px;
      }
      .banner__buttons {
        margin: 0px;
      }
      .banner__buttons .button {
          font-size: 20px;
          line-height: 33px;
          padding: 12px 40px; 
      }
  }

    {% comment %} @media (max-width: 670px) {
    .auto-video-sub-section {
      padding: 28px;
      max-width: 330px;
    }
        .auto-video-sub-section h2.banner__heading.inline-richtext.h0 {
          font-size: 48px;
          line-height: 46px;
          margin: 0;
      }
          .rotating-subheading-container {
          height: 100px !important;
          min-height: 80px;
      }
          .banner__text.rte.body p {
          font-size: 48px;
          line-height: 46px;
      }
      .banner__buttons .button {
          font-size: 20px;
          line-height: 33px;
          padding: 12px 40px; 
      }
  } {% endcomment %}

  @media (max-width: 576px) {
     .auto-video-sub-section {
      padding: 20px;
      max-width: 350px;
    }
        .auto-video-sub-section h2.banner__heading.inline-richtext.h0 {
          font-size: 56px;
          line-height: 50px;
          margin: 0;
      }
          .rotating-subheading-container {
          height: 120px !important;
          min-height: 80px;
      }
          .banner__text.rte.body p {
          font-size: 56px;
          line-height: 50px;
      }
      .banner__buttons .button {
          font-size: 18px;
          line-height: 30px;
          padding: 10px 32px; 
      }
      .banner__buttons .button:after {
        bottom: -6px;
      }
  }

  @media (max-width: 460px) {
      .auto-video-sub-section {
      padding: 20px;
      max-width: 300px;
    }
      .auto-video-sub-section h2.banner__heading.inline-richtext.h0 {
      font-size: 46px;
      line-height: 40px;
      padding-bottom: 0;
    }
    .banner__text.rte.body p {
      font-size: 46px;
      line-height: 40px;
      margin-bottom: 0;
    }
    .banner__buttons {
      margin-top: 15px;
    }
        .rotating-subheading-container {
          height: 90px !important;
          min-height: 40px !important;
      }
      .banner__buttons .button {
          font-size: 18px;
          line-height: 28px;
          padding: 8px 22px;
      }
      .banner__buttons .button:after {
        bottom: -5px;
      }
  }

  @media (max-width: 380px) {
    .auto-video-sub-section {
      padding: 20px;
      max-width: 250px;
    }
      .auto-video-sub-section h2.banner__heading.inline-richtext.h0 {
      font-size: 37px;
      line-height: 32px;
      padding-bottom: 0;
    }
    .banner__text.rte.body p {
      font-size: 37px;
      line-height: 32px;
      margin-bottom: 0;
    }
        .rotating-subheading-container {
          height: 70px !important;
          min-height: 40px !important;
      }
      .banner__buttons .button {
          font-size: 16px;
          line-height: 28px;
          padding: 8px 22px;
      }
      .banner__buttons .button:after {
        bottom: -5px;
      }
  }

    {% comment %} @media (max-width: 339px) {
    .auto-video-sub-section h2.banner__heading.inline-richtext.h0 {
      font-size: 51px;
      line-height: 46px;
      margin-top: 20px !important;
      padding-bottom: 5px;
    }
    .banner__text.rte.body p {
      font-size: 51px;
      line-height: 46px;
      margin-bottom: 0;
    }
    .banner__buttons {
      margin-top: 10px;
    }
        .rotating-subheading-container {
          height: 105px !important;
              min-height: 90px;
      }
      .banner__buttons .button {
          font-size: 20px;
          line-height: 33px;
          padding: 12px 36px;
      }
      .banner__buttons .button:after {
        bottom: -5px;
      }
  } {% endcomment %}

  {% comment %} @media(max-width:768px){
    .auto-video-sub-section {
      top: auto !important;
      left: 0 !important;
      padding: 15px;
      max-width: 340px;
      margin: 0 auto;
      right: 0 !important;
      transform: none !important;
      margin-top: -50px;

    }
    
    .auto-video-sub-section h2.banner__heading.inline-richtext.h0 {
      margin: 0 0 10px 0;
    }
    
    .rotating-subheading-container {
      height: 130px;
    }
  } {% endcomment %}


  </style>
  <div class="auto-video-section">
    <video class="mobile-video" width="100%" autoplay loop playsinline muted>
      <source src="{{ section.settings.mobile_video_url }}">
    </video>
    <video class="desktop-video" width="100%" autoplay loop playsinline muted>
      <source src="{{ section.settings.video_url }}">
    </video>
    <video class="large-screen-video" width="100%" autoplay loop playsinline muted>
      <source src="{{ section.settings.large_screen_video_url }}">
    </video>
    
    <div class="auto-video-sub-section">
      <h2 class="banner__heading inline-richtext h0">{{ section.settings.heading }}</h2>
      
      <div class="banner__text rte body">
        <div id="rotating-subheadings" class="rotating-subheading-container">
          {% assign subheadings = section.settings.subheading_1 | append: '|' | append: section.settings.subheading_2 | append: '|' | append: section.settings.subheading_3 | append: '|' | append: section.settings.subheading_4 | append: '|' | append: section.settings.subheading_5 | split: '|' %}
          {% for sub in subheadings %}
            {% if sub != blank %}
              <p class="rotating-subheading {% if forloop.first %}visible{% else %}hidden{% endif %}">{{ sub }}</p>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      
      <div class="banner__buttons">
        <a href="{{ section.settings.button_link }}" class="button button--secondary">
          <span>{{ section.settings.button_label }}</span>
        </a>
      </div>
    </div>
    <!-- BOTTOM DECOR -->
  {% if section.settings.bottom_decor != blank %}
    <img class="bottom-decor" src="{{ section.settings.bottom_decor | img_url: 'master' }}">
  {% endif %}

  </div>
  

<script>
document.addEventListener('DOMContentLoaded', function() {
    const enableRotation = {{ section.settings.enable_rotation | json }};
    const rotationSpeed = {{ section.settings.rotation_speed | times: 1000 | json }};

    if (!enableRotation) return;

    const subheadings = document.querySelectorAll('.rotating-subheading');

    // Save original text for each subheading
    subheadings.forEach(el => {
        if (!el.dataset.original) {
            el.dataset.original = el.innerText.trim();
        }
        splitLines(el);
    });

    let currentIndex = 0;

    function rotateSubheadings() {
        const current = subheadings[currentIndex];
        const nextIndex = (currentIndex + 1) % subheadings.length;
        const next = subheadings[nextIndex];

        current.classList.remove('visible');
        current.classList.add('swipe-out-right');

        next.classList.remove('hidden');
        next.classList.add('swipe-in-left');

        setTimeout(() => {
            next.classList.remove('swipe-in-left');
            next.classList.add('visible');

            setTimeout(() => {
                current.classList.remove('swipe-out-right');
                current.classList.add('hidden');
            }, 600);
        }, 50);

        currentIndex = nextIndex;
    }

    setInterval(rotateSubheadings, rotationSpeed);

    // Resplit lines on resize
    window.addEventListener('resize', () => {
        subheadings.forEach(el => splitLines(el));
    });
});

function splitLines(element) {
    let originalText = element.dataset.original;
    const largeScreenWidth = 769;


    element.innerHTML = ""; // clear previous content

    if (window.innerWidth >= largeScreenWidth) {
        // Large screen: single span
        const span = document.createElement('span');
        span.className = 'multi-line';
        span.textContent = originalText;
        element.appendChild(span);
        return;
    }

    // Small screens: auto-split
    const temp = document.createElement('span');
    temp.style.visibility = 'hidden';
    temp.style.position = 'absolute';
    temp.style.whiteSpace = 'pre-wrap';
    temp.style.width = element.offsetWidth + 'px';
    temp.innerText = originalText;
    document.body.appendChild(temp);

    const words = originalText.split(' ');
    let line = '';
    let lastHeight = 0;

    words.forEach(word => {
        const test = line + (line ? ' ' : '') + word;
        temp.innerText = test;

        if (temp.offsetHeight > lastHeight) {
            if (line) element.appendChild(makeSpan(line));
            line = word;
            lastHeight = temp.offsetHeight;
        } else {
            line = test;
        }
    });

    if (line) element.appendChild(makeSpan(line));
    temp.remove();
}

function makeSpan(text) {
    const span = document.createElement('span');
    span.className = 'multi-line';
    span.textContent = text;
    return span;
}
</script>


  {% schema %}
  {
    "name": "Auto Video",
    "settings": [
      {
        "type": "url",
        "id": "mobile_video_url",
        "label": "Mobile Video URL (up to 768px)"
      },
      {
        "type": "url",
        "id": "video_url",
        "label": "Desktop Video URL (769px - 1599px)"
      },
      {
        "type": "url",
        "id": "large_screen_video_url",
        "label": "Large Screen Video URL (1600px+)"
      },
      {
        "type": "image_picker",
        "id": "leaf_bg",
        "label": "Leaf Background Image"
      },
      {
        "type": "image_picker",
        "id": "leaf_mobile_bg",
        "label": "Leaf Mobile Background Image"
      },
      {
        "type": "checkbox",
        "id": "enable_rotation",
        "label": "Enable Rotating Subheading",
        "default": true
      },
      {
        "type": "range",
        "id": "rotation_speed",
        "min": 3,
        "max": 10,
        "step": 1,
        "unit": "s",
        "label": "Rotation Speed",
        "default": 5
      },
      {
        "type": "richtext",
        "id": "heading",
        
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "subheading_1",
        "label": "Subheading 1",
        "default": "win more meals with protein + nutrients"
      },
      {
        "type": "text",
        "id": "subheading_2",
        "label": "Subheading 2",
        "default": "frozen kid meals"
      },
      {
        "type": "text",
        "id": "subheading_3",
        "label": "Subheading 3"
      },
      {
        "type": "text",
        "id": "subheading_4",
        "label": "Subheading 4"
      },
      {
        "type": "text",
        "id": "subheading_5",
        "label": "Subheading 5"
      },
      {
        "type": "text",
        "id": "button_label",
        "default": "our meals",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
    {
      "type": "image_picker",
      "id": "bottom_decor",
      "label": "Bottom Decorative Image"
    }
    ],
    "presets": [
      {
        "name": "Auto Video"
      }
    ]
  }
  {% endschema %}